<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />  <!--인터넷 권한 추가-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_1"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCbJ3tx-fky5FdSrp1jCBqomyf1VSNagu0" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GroupActivity"
            android:label="그룹 화면"
            android:exported="true">
        </activity>

        <activity
            android:name=".MyPageActivity"
            android:label="마이페이지 화면"
            android:exported="true">
        </activity>

        <activity
            android:name=".MemberInvite"
            android:label="멤버 초대"
            android:exported="false" />

        <activity
            android:name=".MakingGroupActivity"
            android:label="그룹 생성"
            android:exported="false" >
        </activity>

        <activity
            android:name=".GroupAgreeActivity"
            android:label="그룹원 동의"
            android:exported="false" >
        </activity>

        <activity
            android:name=".GroupAgreeList"
            android:label="그룹원 동의 현황"
            android:exported="false" >
        </activity>

        <activity
            android:name=".GroupChatActivity"
            android:label="그룹 채팅"
            android:exported="false" >
        </activity>

    </application>

</manifest>